<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/reminders">Reminder List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/reminders/allReminders">Reminder List</a>
      <a class="nav-item nav-link" href="/reminders/createReminders">Create</a>
    </div>
  </div>
</nav>
<div class="container">
    <form action="/reminders/allReminders" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  